:root {
  --text-color: #434455;
  --white-color: #ffffff;
  --blue-color: #4d5ae5;
  --hover-color: #404bbf;
  --black-color: #2e2f42;
  --ourteam-back-color: #f4f4fd;
  --gray-text-color: #f4f4fd;
}
/* Link Options */
a {
  text-decoration: none;
  color: var(--black-color);
}
.header-link:hover,
.adress-link:hover {
  color: var(--hover-color);
}
.header-link:focus,
.adress-link:focus,
.buner_btn:focus {
  color: var(--hover-color);
}
.buner_btn:hover {
  background-color: var(--hover-color);
}
.buner_btn:focus {
  background-color: var(--hover-color);
}

/* Reset browser styles */
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
p,
h1,
h2,
h3 {
  margin: 0;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}
body {
  /* max-width: 1440px; */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  background-color: var(--white-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1158px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}

/* Header */
.header-main {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  /* position: fixed; */
}
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blue-color);
  margin-right: 76px;
}
.logo_studio_head {
  color: var(--black-color);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-link {
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav {
  align-items: center;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  color: var(--black-color);
}
.current {
  position: relative;
  color: #404bbf;
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}
.address-list {
  display: flex;
  gap: 40px;
}
.adress-link {
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address {
  margin-left: auto;
  font-size: 16px;
  font-style: normal;
  color: var(--text-color);
}

/* Main */
.buner {
  display: flex;
  background: var(--black-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  max-width: 1440px;
  padding: 188px 0;
}
.buner_btn {
  border: none;
  display: block;
  min-width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--blue-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buner_btn_text {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
}
.buner_h {
  margin: 0 auto;
  max-width: 496px;
  margin-bottom: 48px;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-color);
}
/* Our Ruls */
.container-ruls {
  display: flex;
}
.our_ruls {
  padding: 120px 0;
}
.our_ruls_list {
  display: flex;
  gap: 24px;
}
.our_ruls_list_li {
  width: calc((100% - 72px) / 4);
}
.icons_ruls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
  background-color: var(--gray-text-color);
}
.icon_img {
  width: 64px;
  height: 64px;
}
.our_ruls_h {
  padding: 8px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--black-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Our Team */
.our_team_list {
  display: flex;
  gap: 24px;
}
.our_team {
  background: var(--ourteam-back-color);
  padding: 120px 0;
}
.our_team_cards {
  background-color: var(--white-color);
  width: calc((100% - 72px) / 4);
  border: 1px solid #e7e9fc;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.our_worker {
  padding: 32px 0;
}
.social_media {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social_link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--blue-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social_link:hover {
  background-color: var(--hover-color);
}
.social_link:focus {
  background-color: var(--hover-color);
}
.social_list {
  width: 40px;
  height: 40px;
}

.icon_social {
  display: flex;
  width: 16px;
  height: 16px;
  fill: var(--gray-text-color);
}
.our_team_h {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--black-color);
}
.our_team_name {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin-bottom: 8px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--black-color);
}
.our_team_job {
  text-align: center;
  padding-bottom: 8px;
}
/* Our Portfolio */

.our_prj_list {
  background-color: var(--white-color);
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.our_prj_h {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.our_prj_content_wrap {
  position: relative;
  overflow: hidden;
}
.our_prj_cards {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our_prj_cards:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
/* .our_prj_cards:hover .our_prj_wrap {
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our_prj_wrap {
  display: flex;
  align-items: center;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  background-color: var(--blue-color);
  color: var(--gray-text-color);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
.our_prj_cards:hover .our_prj_cards_text {
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our_prj_cards_text {
  display: flex;
  align-items: center;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  background-color: var(--blue-color);
  color: var(--gray-text-color);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our_app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.our_prj_app {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--black-color);
  margin-bottom: 8px;
}

/* Footer */
.foot_conteiner {
  display: flex;
  align-items: baseline;
}
.footer_main {
  background-color: var(--black-color);
  padding: 100px 0;
}
.logo_foot_block {
  margin-right: 120px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blue-color);
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.logo_studio_foot {
  color: var(--gray-text-color);
}
.footer_text {
  color: var(--gray-text-color);
  max-width: 264px;
}
.footer_social_block {
  display: flex;
  justify-content: center;
}
.social_foot_p {
  font-weight: 500;
  display: flex;
  justify-content: center;
  color: var(--white-color);
  margin-bottom: 16px;
}
.social_media_foot {
  display: flex;
  gap: 16px;
}
.social_link_foot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--blue-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social_list_foot {
  width: 40px;
  height: 40px;
}
.social_link_foot:hover {
  background-color: #31d0aa;
}
.social_link_foot:focus {
  background-color: #31d0aa;
}
.icon_social_foot {
  fill: var(--gray-text-color);
}
